/* common */
body{max-width: 1920px;margin-left: auto;margin-right: auto;}
* { font-family: "NanumSquareNeoVariable",sans-serif }
.container { width: 1500px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; font-size: 0; } 
.mont{font-family: "Montserrat",sans-serif;}
:root { --main : #ee771b;--sub:#2b2b2b } 
select::-ms-expand {display: none; } 
select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 
.title { position: relative; padding-left: 45px; font-family: "rift",sans-serif; font-size: 45px; font-weight: 500; line-height: 1.2; } 
.title::before { content:""; position: absolute; top:50%; left:0; width: 25px; height: 25px; margin-top: -12.5px; background: url(../images/company/icon01.png) no-repeat center center; } 
.not-scroll{overflow-y: hidden;}
.svg-wrap svg{margin-left: auto;margin-right: auto;}
.main-c{color:var(--main)}
.main-b{color:var(--sub)}

/* banner.php */
.banner ul li:after{content:"";display: block;position: absolute;top:50%;right:0;width:5px;height:5px;margin-top: -2.5px;background-color: #a2a2a2;border-radius: 50%;}
.banner ul li:last-child:after{height: 0;}

/* company01.php */
.company01-content02 h3,.company01-content02 p{color:#2b2b2b}
.company01-content02 .left{width: 450px;}
.company01-content02 .right{width: calc(100% - 450px);padding-left: 150px;}
.company01-content03{background-color: #f1f0ec;}
.company01-content03 .left{width: 820px;}
.company01-content03 .right{width: calc(100% - 820px);padding-left: 150px;}

/* company02.php */
.company02-content01 .left{padding-right: 160px;}
.company02-content02{background-color: #f1f0ec;}
.company02-content02 h3,.company02-content02 h4{color:#122019}
.company02-content02 strong{color:#333}
.company02-content02 span{color:#555}
.company02-content02 .right ul li{margin-bottom: 25px;padding-bottom: 25px;font-size: 0;border-bottom: solid 1px #dadadc;}
.company02-content02 .right ul li:last-child{margin-bottom: 0;}
.company02-content02 .right ul li strong,.company02-content02 .right ul li span{display: inline-block;vertical-align: top;}
.company02-content02 .right ul li strong{width: 120px;line-height: 2;}
.company02-content02 .right ul li span{width:calc(100% - 120px);padding-left: 80px;line-height: 2;}

/* company03.php */
.company03-content01 ul li{background-color: #fef7f0;}
.company03-content01 ul li:first-child + li{background-color: #f1f3e8;}
.company03-content01 .left{width: 310px;}
.company03-content01 .left .flex{width: 100%;height:310px;background-color: #fff;border-radius: 50%;}
.company03-content01 .right{width: calc(100% - 310px);padding-left: 200px;}
.company03-content01 .right h3{color:#122019}

/* product.php */
.swiper{overflow-x: hidden;}
.product-slide .swiper .wrap{z-index: 1;;bottom: 50px;}
.product-slide .swiper .wrap .pagination{width: auto;}
.product-slide .swiper-pagination-bullet{margin-right: 8px;opacity: .5;background-color: #fff;}
.product-slide .swiper-pagination-bullet:last-child{margin-right: 0;}
.product-slide .swiper-pagination-bullet-active{opacity: 1;}
.considerations h5,.considerations p{color:#3c3c3c}
.considerations span{width: 25px;}
.considerations h5{width: 500px;}
.considerations p{width: calc(100% - 525px);}
.considerations ul li{border-bottom: solid 1px #cfcfcf;}
.considerations ul li:first-child{border-top: solid 1px #cfcfcf;}
.keywords h5,.keywords p{color:#3c3c3c}
.keywords ul li{background-color: #f1f3e8;}
.keywords ul li .wrap:first-child{padding-left: 215px;padding-right: 115px;}
.keywords ul li:nth-child(even){background-color: #fef9f3;}
.keywords ul li:nth-child(even) .wrap:first-child{order:2;padding-left: 80px;padding-right: 250px;}
.implementation .swiper-pagination-bullet{width: 25px;height:3px;background-color: #e2e2e2;border-radius: 0;opacity: 1;}
.implementation .swiper-pagination-bullet-active{background-color: #96b416;}
.product-list ul li{width:calc((100% - 90px) / 4);margin-right: 30px;border-radius: 10px;border: solid 1px #ccc;}
.product-list ul li:nth-child(4n){margin-right: 0;}
.product-list ul li:nth-child(n+5){margin-top: 30px;}
.product-list dl *{display: inline-block;vertical-align: middle;}
.product-list dl dt{width: 90px;}
.product-list dl dd{width: calc(100% - 90px);}
.product-list .btn-box span{width: 50px;height:50px;border-radius: 50%;background-color: rgba(117, 117, 117,.1);}
.product-list .btn-box strong{color:#757575}
.product-list .btn-box a:hover span{background-color: rgba(238, 119, 27,.1);}
.product-list .btn-box a:hover strong{color:#ee771b}